.header { 
  background-image: url("../images/header.jpg"); 
  background-repeat: no-repeat;
  background-size: cover
}

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
